#
# 定义 debug logger
log4j.logger.debug=DEBUG,dstDebug

# 定义debug appender
log4j.appender.dstDebug=org.apache.log4j.ConsoleAppender
log4j.appender.dstDebug.target=STDOUT_TARGET
log4j.appender.dstDebug.immediateFlush=true
log4j.appender.dstDebug.threshold=INFO

# 定义debug layout
log4j.appender.dstDebug.layout=org.apache.log4j.TTCCLayout
